table,
input {
    width: 100% !important;
    box-sizing: border-box;
}

tr:nth-child(odd) {
    background-color: color-mix(in srgb, var(--bg), black 10%);;
}

input::placeholder {
    text-align: left !important;
}
